<main class="bg-white">
  <div class="header">
    <div class="title-sm">[Course Family] | ID: 12345677</div>
    <button class="btn-sky" onclick="window.close()">EXIT PREVIEW</button>
  </div>
  <div class="container">
    <div class="question" #questionRef></div>
    <div class="error" *ngIf="error">{{ error }}</div>
  </div>
  <div class="validation-container">
    <button class="btn-sky" (click)="onAnswerCheck()" *ngIf="!answerChecked">
      CHECK
    </button>
    <button
      class="btn-sky {{ answerShown ? 'disabled' : '' }}"
      (click)="onAnswerCheck()"
      *ngIf="answerChecked"
    >
      TRY AGAIN
    </button>
    <button
      class="btn-sky {{ answerShown ? 'disabled' : '' }}"
      (click)="showAnswer()"
      *ngIf="answerChecked"
    >
      SHOW CORRECT ANSWER
    </button>
  </div>
  <div class="correct-answer" *ngIf="answerShown">
    Correct Answer:
    <div class="bg-sky">
      <div *ngFor="let answer of correctAnswers; let i = index">
        {{ i + 1 }}. {{ answer }}
      </div>
    </div>
  </div>
</main>
