$primary: #25313f;
$secondary: #3fd28b;
$sky: #31b9e4;
$sky-light: #e2f8fe;
$primary-light: #3c4e62;
$dim: #eeeeee;
$gray: #666666;
$gray-light: #7e7e7e;

.question {
  .question-title {
    padding: 24px 0;

    .question-input {
      padding: 4px 0;
      outline: none;
      font-weight: 500;
      border-bottom: 1px solid $gray-light;
      color: $gray-light;

      &:focus {
        border-bottom: 2px solid $gray-light;
      }
    }
  }
  .answer-choices {
    padding: 24px 0;
    .tokens {
      .token {
        padding: 8px 0;
        outline: none;
        font-weight: 500;
        color: $gray-light;

        &:focus {
          border-bottom: 2px solid $gray-light;
        }

        .options {
          .option {
            margin-bottom: 32px;
            .option-draggable {
              display: flex;

              img {
                height: 30px;
                border: 1px solid $gray;

                &.error {
                  border: 1px solid red;
                  border-right: 1px solid $gray;
                }
              }
              input {
                outline: none;
                border: 1px solid $gray;
                border-left: 0;
                padding: 0 8px;
                flex-grow: 1;

                &.error {
                  border: 1px solid red;
                  border-left: 0;
                }
              }
              .delete-wrapper {
                align-content: center;
                padding: 0 16px;

                .fa-trash {
                  color: #2aa469;
                }
              }
            }

            .error-text {
              color: red;
              font-size: 12px;
              margin: 8px 0;
            }
          }
        }

        .add-option {
          button {
            border: 1px solid #7994b3;
            background-color: $sky-light;
            border-radius: 2px;
            padding: 4px 12px;
            text-transform: uppercase;
            font-weight: 500;
            box-shadow: 0px 3px 6px #00000029;

            &:hover {
              background-color: #c6e9f3;
            }

            i {
              margin-right: 4px;
            }
          }
        }
      }
    }
  }
  .correct-answers {
    padding: 24px 0;

    .answers-container {
      background-color: #e2f8fe;
      text-align: center;
      align-content: center;
      min-height: 6rem;

      .helper-text {
        margin-bottom: 0;
      }

      .correct-answers-input {
        padding: 4px 0;
        outline: none;
        font-weight: 500;
        border-bottom: 1px solid $gray-light;
        color: $gray-light;
      }

      .answer {
        padding: 8px 0;
        display: flex;
        gap: 20px;
        align-items: center;
        padding: 20px;

        .answer-token {
          font-weight: 600;
        }

        select {
          outline: none;
          border: 1px solid $gray-light;
          border-radius: 2px;
          padding: 4px 8px;
          min-width: 200px;

          option {
            color: $gray-light;
          }
        }
      }
    }
  }
}

.dropdown-page {
  background-color: $dim;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary;
    padding: 0 20px;
    border-bottom: 4px solid #31b9e4;

    .nav-links {
      display: flex;

      a {
        color: $secondary;
        text-decoration: none;
        text-transform: uppercase;
        font-size: small;
        align-content: center;
        padding: 18px 18px;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;

        &:hover {
          color: white;
          font-weight: bold;
          border-bottom: 4px solid white;
        }
      }
      .avatar-wrapper {
        align-content: center;
        .avatar {
          background-color: $primary-light;
          color: white;
          border-radius: 50%;
          padding: 10px;
          font-size: 18px;
          margin-left: 10px;
          border: 2px solid $secondary;
        }
      }
    }
  }
  .header {
    display: flex;
    justify-content: space-between;
    background-color: $primary-light;
    color: white;
    padding: 12px;

    .arrow-left {
      align-content: center;
      padding: 4px;
      i {
        color: $secondary;
      }
    }
    .title {
      font-weight: 600;
      font-size: large;
      align-content: center;
      margin-left: 14rem;
    }
    .btn-group {
      align-content: center;
      button {
        border: none;
        background-color: $secondary;
        border-radius: 2px;
        padding: 6px 16px;
        margin: 0 10px;
        text-transform: uppercase;
        font-weight: 500;
        box-shadow: 0px 3px 6px #00000029;

        &:has(.active) {
          background-color: $sky;
        }
        &:hover {
          background-color: #2d9a65;
        }
      }
    }
  }
  .main {
    padding: 0 20px;

    .content-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .content-title {
        font-weight: 600;
        font-size: larger;
        align-content: center;
        margin-bottom: 10px;
        padding: 24px 0;

        small {
          font-size: 12px;
        }
      }

      .content-options {
        button {
          border: 1px solid #7994b3;
          background-color: $sky-light;
          border-radius: 2px;
          padding: 4px 12px;
          margin: 0 10px;
          text-transform: uppercase;
          font-weight: 500;
          box-shadow: 0px 3px 6px #00000029;

          &:hover {
            background-color: #c6e9f3;
          }

          i {
            margin-right: 4px;
          }
        }
      }
    }

    .content-status {
      background-color: white;
      padding: 12px 24px;
      display: flex;
      margin-bottom: 28px;

      .line {
        flex-grow: 1;
        align-content: center;
        padding: 8px;
      }

      .status {
        display: inline-flex;
        align-items: center;
        gap: 8px;

        .icon-wrapper {
          background-color: $secondary;
          padding: 8px;
          border-radius: 50%;
          height: 1rem;
          width: 1rem;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          font-weight: 600;
        }
        .status-title {
          font-weight: 600;
        }
      }
    }

    .container {
      padding: 0 24px;
      background-color: white;
      margin-bottom: 24px;
    }

    .dropdown-container {
      background-color: white;
      font-weight: 500;
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }

      &.skyblue {
        background-color: $sky-light;
      }

      .dropdown-header {
        display: flex;
        padding: 18px 24px;
        cursor: default;

        .dropdown-title {
          flex-grow: 1;

          &.dropdown-title-small {
            font-size: 12px;
            color: $gray;
            font-weight: 600;
            color: #2d9a65;
          }
        }
      }

      .dropdown-body {
        border-top: 1px solid #c5c5c5;
        padding: 24px;
      }
    }

    .dimentions {
      display: flex;
      input {
        margin-right: 32px;
        outline: none;
        border: none;
        background-color: $sky-light;
        border-bottom: 1px solid #666666;
        border-radius: 2px;
        padding: 4px 8px;
        width: 50px;
        text-align: center;
      }
    }
    .feedback-form {
      input {
        padding: 4px 0;
        outline: none;
        width: 100%;
        border: none;
        font-weight: 500;
        border-bottom: 1px solid #666666;
        color: #666666;
        margin-bottom: 2rem;

        &:last-child {
          margin-bottom: 0;
        }

        &:focus {
          border-bottom: 2px solid #666666;
        }
      }
    }
  }

  .footer {
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      border: none;
      background-color: $secondary;
      border-radius: 2px;
      padding: 6px 16px;
      margin: 0 10px;
      text-transform: uppercase;
      font-weight: 500;
      box-shadow: 0px 3px 6px #00000029;

      &:has(.active) {
        background-color: $sky;
      }
      &:hover {
        background-color: #2d9a65;
      }
    }
  }
  .text-muted {
    color: $gray;
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.helper-text {
  font-size: 12px;
  color: $gray;
  margin-bottom: 8px;
  font-weight: 500;

  &.bold {
    font-weight: 800;
  }
}

.helper-text {
  font-size: 12px;
  color: $gray;
  margin-bottom: 8px;
  font-weight: 500;

  &.bold {
    font-weight: 800;
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

::ng-deep {
  .token-mark {
    background: #eeeeee !important;
    color: #666666 !important;
    padding: 1px 10px;
    font-size: 14px;
  }
}
